<div class="container">
  <form class="form" (ngSubmit)="guardar()" #forma="ngForm">
    
    <fieldset class="pregunta" *ngFor="let question of questions; let i = index">
      <legend>Pregunta</legend>

      <div class="text-question">{{i+1}}.- {{question.question}}</div>
      <div class="answers">
        <div class="options" *ngFor="let option of question.options; let iO = index">
          <input
            class="radio"
            type="radio"
            id={{iO}}{{i}}
            name="pregunta{{i}}"
            ngModel
            value={{option}}
            minlength="3"
            required
            #pregunta{{option}}="ngModel"
            [(ngModel)]="answers[i]"
          >
          <label class="checkbox" for={{iO}}{{i}}>{{option}}</label>
        </div>
      </div>
      
    </fieldset>

    <fieldset class="pregunta check">
      <label for="check">Usted acepta que esta respondiendo con sinceridad las anteriores preguntas</label> 
      <input
        class="checkbox"
        type="checkbox"
        id="check"
        name="checkCondition"
        ngModel
        value={{true}}
        required
        #checkCondition
        [(ngModel)]="answers[5]"
        (click)="cambio()"
      >
    </fieldset>

    <button type="submit">Guardar</button>
  </form>
</div>
<fieldset class="pregunta check red" *ngIf="mensaje">Usted debe aceptar que esta respondiendo con sinceridad las anteriores preguntas</fieldset>

