.container {
  width: 100%;
  height: 300px;
}

.form {
  padding: 10px 20px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.prueba {
  padding: 12px 0px;
}

.pregunta{
  width: 43%;
  padding: 5px 10px;
  margin: 12px 10px;
  font-size: 12px;
  height: 60px;
  border:1px solid rgb(235, 234, 234);
}

.answers {
  margin-top: 10px;
  display: flex;
}

.answers .options{
  width: 25%;
}

button {
  margin: 0px 20%;
}
.check {
  border: rgb(236, 236, 236);
  height: 30px;
  margin-top: 0px;
}

.extra {
  /*form*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*pregunta*/
  float: left; 
}

.red {
  color: red;
  margin: 0px auto;
}

.radio {
  vertical-align: middle;
  
}

.checkbox {
  vertical-align: middle;
  margin-left: 2px;
}